
@{
    ViewBag.Title = "Import";
    ViewBag.PageTitle = "Import";
    ViewBag.TitlePrincipal = "Select File";
}

@section styles {
    <!-- Sweet Alert -->
    @Styles.Render("~/Content/sweetalert")
}

<form>
    <input type="file" name="postedFile" class="filestyle" data-buttonname="btn-default">
    <br />
    <button id="importExcel" type="button" class="btn btn-success waves-effect waves-light">Import</button>
    <img src="~/Images/loader.gif" alt="loading" width="200" height="150" id="centerLoading">
</form>

@section scripts {
    <!-- Bootstrap File Style -->
    @Scripts.Render("~/Scripts/filestyle")

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/sweetalert")

    @Scripts.Render("~/Scripts/import")
    @Scripts.Render("~/Scripts/utils")

    <script>
        
    </script>
}