
@{
    ViewBag.Title = "Import";
    ViewBag.PageTitle = "Import";
    ViewBag.TitlePrincipal = "Select File";
}

@section styles {
    <!-- Sweet Alert -->
    @Styles.Render("~/Content/sweetalert")
}

<form>
    <input type="file" name="postedFile" class="filestyle" data-buttonname="btn-default">
    <br />
    <button id="importExcel" type="button" class="btn btn-success waves-effect waves-light">Import</button>
    <img src="~/Images/loader.gif" alt="loading" width="200" height="150" id="centerLoading">
</form>

@section scripts {
    <!-- Bootstrap File Style -->
    @Scripts.Render("~/Scripts/filestyle")

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/sweetalert")

    @Scripts.Render("~/Scripts/import")
    @Scripts.Render("~/Scripts/utils")

    <script>
        // ValidateAntiForgeryTokenOnAllPosts
        var token = $('[name=__RequestVerificationToken]').val();

        $('#importExcel').click(function (event) {

            var nomeFile = document.getElementsByName("postedFile")[0].value;

            // file non selezionato
            if (nomeFile == "" || nomeFile == null) {
                swal("Select a file!", "No file has been selected", "error");
                return false;
            }

            // cotrollo estensione del file
            if (!(nomeFile.endsWith(".xls") || nomeFile.endsWith(".xlsx"))) {
                swal("Check file!", "Extension is incorrect (only .xls or .xlsx)", "error");
                return false;
            }

            var formData = new FormData();
            formData.append('postedFile', $('input[type=file]')[0].files[0]);

            $.ajax({
                headers: { "__RequestVerificationToken": token },
                url: '/Excel/Import',
                type: 'POST',
                data: formData,
                contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                processData: false, // NEEDED, DON'T OMIT THIS
                beforeSend: function () {
                    // Doing some loading gif stuff
                    $("#centerLoading").show();
                },
                success: function (result) {

                    if (result.status == false) {
                        swal("Error!", result.error, "error");
                    } else {
                        // vedo se ci sono warning da segnalare
                        var obj = JSON.parse(result.warning);
                        if (!isEmpty(obj)) {
                            next(0, obj);
                        }
                        else {
                            swal({ title: "Good job!", text: "All your changes have been applied!", type: "success" },
                                function () {
                                    $('form').trigger("reset");
                                    $("#centerLoading").hide();
                                }
                            );
                        } // isEmpty
                    } // status = true

                },
                error: function (result) {
                    swal({ title: "An error has occurred!", text: "Please wait a few minutes and try again.", type: "error" },
                        function () {
                            $('form').trigger("reset");
                            $("#centerLoading").hide();
                        }
                    );
                }
            });
        });

        function next(i, obj) {

            swal({
                title: "Do you want replace this Value?",
                text: "Nomisma Code: " + obj[i].NomismaCode + "\nVariable Number: " + obj[i].Number + "\nCountry Code: " + obj[i].CountryCode + "\nYear: " + obj[i].Year + "\nOld Data: " + obj[i].Data + "\nNew Data: " + obj[i + 1].Data,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: 'btn-warning',
                confirmButtonText: "Yes, replace it!",
                closeOnConfirm: false,
                closeOnCancel: false,
                closeOnClickOutside: false //impedisco di chiudere la finestra cliccando fuori
            },
                function (isConfirm) {

                    if (isConfirm) {
                        // invio richiesta per cancellare il file
                        $.ajax({
                            url: '/Excel/ReplaceValue',
                            headers: { '__RequestVerificationToken': token },
                            method: 'POST',
                            dataType: 'json',
                            data: {
                                newValue: obj[i + 1]
                            },
                            success: function (res) {
                                // risultato della risposta
                                if (res == true) {
                                    swal({ title: "Good job!", text: "Your change have been applied!", type: "success", closeOnConfirm: false  },
                                        function () {
                                            if ((i + 2) < obj.length)
                                                next(i + 2, obj);
                                            else {
                                                swal({ title: "Good job!", text: "All your changes have been applied!", type: "success" },
                                                    function () {
                                                        $('form').trigger("reset");
                                                        $("#centerLoading").hide();
                                                    }
                                                );
                                            }
                                                
                                        }
                                    );
                                } else {
                                    swal({ title: "An error has occurred!", text: "Please wait a few minutes and try again.", type: "error" },
                                        function () {
                                            $('form').trigger("reset");
                                            $("#centerLoading").hide();
                                        }
                                    );
                                }
                            }
                        });

                    } else {
                        if ((i + 2) < obj.length)
                            next(i + 2, obj);
                        else {
                            swal({ title: "Good job!", text: "All your changes have been applied!", type: "success" },
                                function () {
                                    $('form').trigger("reset");
                                    $("#centerLoading").hide();
                                }
                            );
                        }

                    }
                }); // swal

        }
    </script>
}