@using TobaccoNicotineApplication.Utilities
@using System.ComponentModel.DataAnnotations

@model TobaccoNicotineApplication.Models.Source

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Source";
    ViewBag.TitlePrincipal = "List of Sources";
}

@{
    string phaseCode = StaticName.PhaseCode();
    string phaseName = StaticName.PhaseName();
    string number = StaticName.Number();
    string variableName = StaticName.VariableName();
    string unitName = StaticName.MeasurementUnitName();
    string varLc = StaticName.VarLc();
    string pmiCoding = StaticName.PmiCoding();
    string continentCode = StaticName.ContinentCode();
    string regionCode = StaticName.RegionCode();
    string continentName = StaticName.ContinentName();
    string regionName = StaticName.RegionName();
    string countryCode = StaticName.CountryCode();
    string countryName = StaticName.CountryName();
    string areaCode = StaticName.AreaCode();
    string year = StaticName.Year();
    string value = StaticName.Value();
    string notes = StaticName.CurrencyNote();
    string data = StaticName.Data();
    string dataUs = StaticName.DataUs();
    string exchangeRateUs = StaticName.ExchangeRateUS();
    string internalNotes = StaticName.InternalNotes();
    string publicNotes = StaticName.PublicNotes();
    string sourceName = StaticName.SourceName();
    string sourceDate = StaticName.UploadDate();
    string sourceTime = StaticName.UploadTime();
    string sourceLink = StaticName.Link();
    string sourceRepository = StaticName.Repository();
    string sourceDateDownload = StaticName.DownloadDate();
    string sourceUsername = StaticName.UserName();
}

@section styles {
    <!-- Plugin -->
    @Styles.Render("~/Content/colorpicker")

    <!-- Sweet Alert -->
    @Styles.Render("~/Content/sweetalert")

    <!-- Chosen -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css">

    <!-- Dropzone css -->
    @Styles.Render("~/Content/dropzone")
}

<div class="panel-group panel-group-joined" id="accordion-region">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a id="collapseTitleOne" data-toggle="collapse" data-parent="#accordion-region" href="#collapseOne">
                    Filter
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <!--Filter-->
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label(pmiCoding, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="pmiCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(continentName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="continentNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(regionName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="regionNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(countryName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="countryNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(continentCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="IdContinentString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(regionCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="IdRegionString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(countryCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="IdCountryString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(areaCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="areaCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(year, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="yearString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(number, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="numberString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(variableName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="variableNameString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(phaseCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="phaseCodeString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(phaseName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="phaseNameString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(varLc, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="varLcString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceNameString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceDate, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceDateString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceTime, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceTimeString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceLink, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceLinkString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceRepository, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceRepositoryString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceDateDownload, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceDateSourceString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(sourceUsername, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="sourceUsernameString" onchange="" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>
                </dl>

                <button type="submit" class="btn btn-primary waves-effect" onclick='FilterValue()'>Filter</button>
                <!--Filter-->
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a id="collapseTitleTwo" data-toggle="collapse" data-parent="#accordion-region" href="#collapseTwo" class="collapsed">
                    Rows
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>

    @if (User.IsInRole("Admin") || @User.IsInRole("Writer"))
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a id="collapseTitleTree" data-toggle="collapse" data-parent="#accordion-region" href="#collapseTree" class="collapsed">
                        Upload files
                    </a>
                </h4>
            </div>
            <div id="collapseTree" class="panel-collapse collapse">
                <div class="panel-body">


                    <form action="/" enctype="multipart/form-data" method="POST">
                        <div class="dropzone" id="my-dropzone" name="mainFileUploader">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <!-- Pagination  -->
    @Scripts.Render("~/Scripts/pagination")

    <!-- Chosen  -->
    <script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/sweetalert")

    <!-- Dropzone js -->
    @Scripts.Render("~/Scripts/dropzone")

    <script>
        var boolAdmin = '@User.IsInRole("Admin")' == "True";
        var boolWriter = '@User.IsInRole("Writer")' == "True";
        var boolReader = '@User.IsInRole("Reader")' == "True";
    </script>

    @Scripts.Render("~/Scripts/source")
}