@model TobaccoNicotineApplication.Models.LoginViewModel

@{
    ViewBag.Title = "Grant";
    ViewBag.PageTitle = "Grant";
    ViewBag.TitlePrincipal = "List of Users";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "20",
        Value = "20"
    });
    listItems.Add(new SelectListItem
    {
        Text = "30",
        Value = "30",
    });
    listItems.Add(new SelectListItem
    {
        Text = "40",
        Value = "40"
    });
}

@section styles {
    <!-- Sweet Alert -->
    @Styles.Render("~/Content/sweetalert")
}

<div class="col-lg-12">
    <!-- Start panel -->
    <div class="panel panel-default panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
        </div>
        <div class="panel-body">
            <p class="text-muted m-b-30">
                <b>DETAILS:</b> ADMIN, WRITER, READER
            </p>
            <p class="text-muted m-b-30">
                <b>EDIT:</b> ADMIN, WRITER
            </p>
            <p class="text-muted m-b-30">
                <b>DELETE:</b> ADMIN
            </p>
            <p class="text-muted m-b-30">
                <b>CREATE:</b> ADMIN, WRITER
            </p>
            <p class="text-muted m-b-30">
                <b>EXPORT:</b> ADMIN, WRITER, READER
            </p>
            <p class="text-muted m-b-30">
                <b>IMPORT:</b> ADMIN, WRITER
            </p>
            <p class="text-muted m-b-30">
                <b>UPLOAD:</b> ADMIN, WRITER
            </p>
            <p class="text-muted m-b-30">
                <b>REPORT:</b> ADMIN, READER, WRITER
            </p>
        </div>
    </div>
    <!-- End panel -->

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="50%">Username <img id="idSortable" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableUser()" style="width:auto;"></th>
                    <th width="50%">Grant</th>
                </tr>
            </thead>
            <tbody id="SetUserList"></tbody>
            <tr id="LoadingStatus"></tr>
        </table>
    </div>

    <div style="display: inline-grid">
        @Html.Label("Show entries", new { @class = "control-label" })
        @Html.DropDownList("showEntry", listItems, new { @class = "form-control", @onchange = "FilterUser()" })
    </div>
    <br />
    <br />
    <div class="col-md-12 text-center">
        @*<ul class="pagination pagination-lg pager" id="myPager"></ul>*@
        <ul class="pagination m-b-5" id="myPager"></ul>
    </div>
</div>

@section scripts {
    <!-- Pagination  -->
    @Scripts.Render("~/Scripts/pagination")

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/sweetalert")

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/admin")
}