@using TobaccoNicotineApplication.Utilities
@using System.ComponentModel.DataAnnotations

@model TobaccoNicotineApplication.Models.Value

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Values";
    ViewBag.TitlePrincipal = "List of Values";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "20",
        Value = "20"
    });
    listItems.Add(new SelectListItem
    {
        Text = "30",
        Value = "30",
    });
    listItems.Add(new SelectListItem
    {
        Text = "40",
        Value = "40"
    });
}

@{
    string phaseCode = StaticName.PhaseCode();
    string phaseName = StaticName.PhaseName();
    string number = StaticName.Number();
    string variableName = StaticName.VariableName();
    string varLc = StaticName.VarLc();
    string pmiCoding = StaticName.PmiCoding();
    string continentCode = StaticName.ContinentCode();
    string regionCode = StaticName.RegionCode();
    string continentName = StaticName.ContinentName();
    string regionName = StaticName.RegionName();
    string countryCode = StaticName.CountryCode();
    string countryName = StaticName.CountryName();
    string areaCode = StaticName.AreaCode();
    string year = StaticName.Year();
    string value = StaticName.Value();
    string notes = StaticName.CurrencyNote();
    string data = StaticName.Data();
    string dataUs = StaticName.DataUs();
    string exchangeRateUs = StaticName.ExchangeRateUS();
    string internalNotes = StaticName.InternalNotes();
    string publicNotes = StaticName.PublicNotes();
    string nomismaCode = StaticName.NomismaCode();
    string sourceName = StaticName.SourceName();
    string sourceLink = StaticName.Link();
    string sourceRepository = StaticName.Repository();
    string sourceDateDownload = StaticName.DownloadDate();
    string sourceUsername = StaticName.UserName();

    StringLengthAttribute publicNotesLenAttr = typeof(TobaccoNicotineApplication.Models.Value).GetProperty("PublicNotes").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();
    StringLengthAttribute internalNotesLenAttr = typeof(TobaccoNicotineApplication.Models.Value).GetProperty("InternalNotes").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();
    StringLengthAttribute linkLenAttr = typeof(TobaccoNicotineApplication.Models.Source).GetProperty("Link").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();
    StringLengthAttribute sourceNameLenAttr = typeof(TobaccoNicotineApplication.Models.Source).GetProperty("Name").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();
    StringLengthAttribute sourceUsernameLenAttr = typeof(TobaccoNicotineApplication.Models.Source).GetProperty("Username").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();
    StringLengthAttribute sourceRepositoryLenAttr = typeof(TobaccoNicotineApplication.Models.Source).GetProperty("Repository").GetCustomAttributes(typeof(StringLengthAttribute), false).Cast<StringLengthAttribute>().SingleOrDefault();

    string serverMap = System.Web.HttpContext.Current.Server.MapPath("~/Uploads/Sources/");
}

@section styles {
    <!-- Plugin -->
    @Styles.Render("~/Content/colorpicker")

    <!-- Sweet Alert -->
    @Styles.Render("~/Content/sweetalert")

    <!-- Chosen -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css">
}

<div class="panel-group panel-group-joined" id="accordion-value">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a id="collapseTitleOne" data-toggle="collapse" data-parent="#accordion-value" href="#collapseOne">
                    Filter
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <!--Filter-->
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label(pmiCoding, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="pmiCodingString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(continentName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="continentNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(regionName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="regionNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(countryName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="countryNameString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(continentCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="continentCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(regionCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="regionCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(countryCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="countryCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(areaCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="areaCodeString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(year, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="yearString" onchange="loadFilterCountry()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(number, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="numberString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(variableName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="variableNameString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(phaseName, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="phaseNameString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(phaseCode, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="phaseCodeString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>

                    <dt>
                        @Html.Label(varLc, new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        <select id="varLcString" onchange="loadFilterVariable()" class="form-control chosen-select" multiple="multiple"></select>
                    </dd>
                </dl>

                <button type="submit" class="btn btn-primary waves-effect" onclick='FilterValue(0)'>Filter</button>
                <!--Filter-->
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a id="collapseTitleTwo" data-toggle="collapse" data-parent="#accordion-value" href="#collapseTwo" class="collapsed">
                    Rows
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <!--Table-->
                <button type="button" class="btn btn-default" onclick="toggle2()">Select/Deselect All</button>
                <button type="button" class="btn btn-default" onclick="Copy()">Copy to Clipboard</button>
                @if (User.IsInRole("Admin") || User.IsInRole("Writer"))
                {
                    <button type="button" class="btn btn-default" onclick="Paste()">Paste from Clipboard</button>
                }
                <br />
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="6%"></th>
                                    <th width="6%">@countryName <img id="idSortable1" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableName()" style="width:auto;"></th>
                                    <th width="6%">@variableName <img id="idSortable2" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableVariableName()" style="width:auto;"></th>
                                    <th width="6%">@data <img id="idSortable3" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableData()" style="width:auto;"></th>
                                    <th width="6%">@dataUs <img id="idSortable7" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableDataUs()" style="width:auto;"></th>
                                    <th width="6%">@year <img id="idSortable4" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableYear()" style="width:auto;"></th>
                                    <th width="6%">@exchangeRateUs</th>
                                    <th width="6%">@publicNotes <img id="idSortable5" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortablePublicNotes()" style="width:auto;"></th>
                                    <th width="6%">@internalNotes <img id="idSortable6" src="~/Images/Sortable/bg.png" alt="bg" onclick="SortableInternalNotes()" style="width:auto;"></th>
                                    <th width="6%">@sourceName</th>
                                    <th width="6%">@sourceLink</th>
                                    <th width="6%">@sourceRepository</th>
                                    <th width="6%">@sourceDateDownload</th>
                                    <th width="6%">@sourceUsername</th>
                                    <th width="6%">Source File</th>
                                </tr>
                            </thead>
                            <tbody id="SetValueList" class='tableFix'></tbody>
                            <tr id="LoadingStatus"></tr>
                        </table>
                    </div>

                    <div style="display: inline-grid">
                        @Html.Label("Show entries", new { @class = "control-label" })
                        @Html.DropDownList("showEntry", listItems, new { @class = "form-control", @onchange = "FilterValue(0)" })
                    </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Writer"))
                    {
                        <br />
                        <br />
                        <button type="button" class="btn btn-success" onclick="AddNewValue()">Add New Value</button>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-danger" onclick="deleteRows()">Delete Value/s</button>
                    }
                    <br />
                    <br />
                    <div class="col-md-12 text-center">
                        <!--<ul class="pagination pagination-lg pager" id="myPager"></ul>-->
                        <ul class="pagination m-b-5" id="myPager"></ul>
                    </div>
                </div>
                <!--Table-->
            </div>
        </div>
    </div>
</div>

@*Create A Popup Modal For Add*@

<div class="modal fade" id="MyModal">
    <div class="modal-dialog" style="width:55%">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>

            <div class="modal-body">
                <!-- Start panel -->
                <div class="col-lg">
                    <div class="panel panel-default panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="PanelTitleAddEditDetails"></h4>
                        </div>
                        <div class="panel-body">
                            <!-- Start form -->
                            <form id="form">
                                <fieldset id="SubmitForm">

                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.Label(countryName, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            <select class="form-control" id="countryList" onchange="findCountryCode()"></select>
                                        </dd>

                                        <dt>
                                            @Html.Label(countryCode, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @id = "CountryCode", @class = "form-control", @placeholder = "Insert " + countryCode + "*", @readonly = "readonly" } })
                                        </dd>

                                        <dt>
                                            @Html.Label(variableName, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            <select class="form-control" id="variableList" onchange="findVariableNumber()" required></select>
                                        </dd>

                                        <dt>
                                            @Html.Label(number, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @id = "Number", @class = "form-control", @placeholder = "Insert " + number + "*", @readonly = "readonly" } })
                                        </dd>

                                        <dt>
                                            @Html.Label(year, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @id = "Year", @class = "form-control", @placeholder = "Insert " + year + "*" } })
                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                        </dd>

                                        <dt>
                                            @Html.Label(nomismaCode, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.NomismaCode, new { htmlAttributes = new { @id = "NomismaCode", @class = "form-control", @placeholder = "Insert " + nomismaCode + "*" } })
                                            @Html.ValidationMessageFor(model => model.NomismaCode, "", new { @class = "text-danger" })
                                        </dd>

                                        <dt>
                                            @Html.Label(data, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @id = "Data", @class = "form-control", @placeholder = "Insert " + data } })
                                            @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                                        </dd>

                                        <dt>
                                            @Html.Label(dataUs, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.DataUs, new { htmlAttributes = new { @id = "Data", @class = "form-control", @placeholder = "Insert " + dataUs } })
                                            @Html.ValidationMessageFor(model => model.DataUs, "", new { @class = "text-danger" })
                                        </dd>

                                        <dt>
                                            @Html.Label(publicNotes, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.PublicNotes, new { htmlAttributes = new { @id = "PublicNotes", @maxlength = publicNotesLenAttr.MaximumLength, @class = "form-control", @placeholder = "Insert " + publicNotes } })
                                            @Html.ValidationMessageFor(model => model.PublicNotes, "", new { @class = "text-danger" })
                                        </dd>

                                        <dt>
                                            @Html.Label(internalNotes, new { @class = "control-label col-md-2" })
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.InternalNotes, new { htmlAttributes = new { @id = "InternalNotes", @maxlength = internalNotesLenAttr.MaximumLength, @class = "form-control", @placeholder = "Insert " + internalNotes } })
                                            @Html.ValidationMessageFor(model => model.InternalNotes, "", new { @class = "text-danger" })
                                        </dd>
                                    </dl>

                                </fieldset>
                            </form>
                            <!-- End form -->
                        </div>
                    </div>
                </div>
                <!-- End panel -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="r">Cancel</button>
                <button type="button" class="btn btn-success" id="CreateValue">Save</button>
            </div>

        </div>
    </div>
</div>

@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>There is an operation to be performed...</h4>
            </div>

            <div class="modal-body">
                <!-- Start panel -->
                <div class="col-lg-12">
                    <div class="panel panel-fill panel-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="PanelTitleDelete"></h4>
                        </div>
                        <div class="panel-body">
                            Are you sure you want to delete this Record/s?
                        </div>
                    </div>
                </div>
                <!-- End panel -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="r">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</button>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <!-- Pagination  -->
    @Scripts.Render("~/Scripts/pagination")

    <!-- Chosen  -->
    <script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>

    <!-- Plugins js -->
    @Scripts.Render("~/Scripts/colorpicker")
    @Scripts.Render("~/Scripts/maxlength")

    <!-- Sweet-Alert  -->
    @Scripts.Render("~/Scripts/sweetalert")

    <!-- Bootstrap File Style -->
    @Scripts.Render("~/Scripts/filestyle")

    <script>
        var boolAdmin = '@User.IsInRole("Admin")' == "True";
        var boolWriter = '@User.IsInRole("Writer")' == "True";
        var boolReader = '@User.IsInRole("Reader")' == "True";

        var publicNotesMax = '@publicNotesLenAttr.MaximumLength';
        var internalNotesMax = '@internalNotesLenAttr.MaximumLength';
        var linkMax = '@linkLenAttr.MaximumLength';
        var usernameMin = '@sourceUsernameLenAttr.MinimumLength';
        var usernameMax = '@sourceUsernameLenAttr.MaximumLength';
        var repositoryMax = '@sourceRepositoryLenAttr.MaximumLength';

        var data = '@data';
        var dataUs = '@dataUs';
        var publicNotes = '@publicNotes';
        var internalNotes = '@internalNotes';
        var sourceName = '@sourceName';
        var sourceLink = '@sourceLink';
        var sourceUsername = '@sourceUsername';
        var sourceDateDownload = '@sourceDateDownload';

        var serverMap = '@Html.Raw(HttpUtility.JavaScriptStringEncode(serverMap))';
        var myUsername = '@User.Identity.Name';

        // serve quando nella SourceList posso cambiare file tra quelli già nel repository
        var RepositoryNameArray = new Array();

        // inserisco gli elementi nella table
        function DataBind(ValueList) {

            $("#LoadingStatus").html("Loading....");

            var SetData = $("#SetValueList");
            for (var i = 0; i < ValueList.length; i++) {

                var Data = "<tr class='row_" + ValueList[i].CountryCode + "_" + ValueList[i].Year + "_" + ValueList[i].Number + "'>";

                if (boolAdmin || boolWriter) {
                    Data = Data + "<td>" + "<div class=\"checkbox checkbox-primary checkbox-single checkBoxZoom\"><input name=\"foo2\" type=\"checkbox\"><label></label></div>" + "</td>"
                        + "<td>" + ValueList[i].CountryName + "</td>"
                        + "<td>" + ValueList[i].VariableName + "</td>"
                        + "<td>" + "<input id=\"DataTable" + i + "\"" + "class=\"form-control rowFix\" type=\"textbox\" value=\"" + ((typeof ValueList[i].Data == 'number') ? parseFloat(ValueList[i].Data).toFixed(1) : ValueList[i].Data) + "\" placeholder=\"Insert " + data + "\" onkeypress=\"saveRow(event, 0, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", DataTable" + i + ")\" >" + "</td>";

                    if (ValueList[i].VarLc == true)
                        Data = Data + "<td>" + "<input id=\"DataUsTable" + i + "\"" + "class=\"form-control rowFix\" type=\"textbox\" value=\"" + ((typeof ValueList[i].DataUs == 'number') ? parseFloat(ValueList[i].DataUs).toFixed(1) : ValueList[i].DataUs) + "\" placeholder=\"Insert " + dataUs + "\" onkeypress=\"saveRow(event, 1, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", DataUsTable" + i + ")\" >" + "</td>";
                    else
                        Data = Data + "<td id=\"DataUsTable>\"" + "</td>";

                    Data = Data + "<td>" + ValueList[i].Year + "</td>";

                    if (ValueList[i].VarLc == true)
                        Data = Data + "<td>" + ValueList[i].CurrencyValue + "</td>";
                    else
                        Data = Data + "<td>" + "</td>";

                    Data = Data
                        + "<td>" + "<input id=\"PublicNotesTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + publicNotesMax + " type=\"textbox\" value=\"" + ValueList[i].PublicNotes + "\" placeholder=\"Insert " + publicNotes + "\" onkeypress=\"saveRow(event, 2, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", PublicNotesTable" + i + ")\" >" + "</td>"
                        + "<td>" + "<input id=\"InternalNotesTable" + i + "\"" + "class=\"form-control rowFix\"  maxlength=" + internalNotesMax + " type=\"textbox\" value=\"" + ValueList[i].InternalNotes + "\" placeholder=\"Insert " + internalNotes + "\" onkeypress=\"saveRow(event, 3, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", InternalNotesTable" + i + ")\" >" + "</td>";

                } else {
                    Data = Data + "<td>" + "<div class=\"checkbox checkbox-primary checkbox-single checkBoxZoom\"><input name=\"foo2\" type=\"checkbox\"><label></label></div>" + "</td>" +
                        "<td>" + ValueList[i].CountryName + "</td>" +
                        "<td>" + ValueList[i].VariableName + "</td>" +
                        "<td>" + ValueList[i].Data + "</td>" +
                        "<td>" + ValueList[i].DataUs + "</td>" +
                        "<td>" + ValueList[i].Year + "</td>" +
                        "<td>" + ValueList[i].CurrencyValue + "</td>" +
                        "<td>" + ValueList[i].PublicNotes + "</td>" +
                        "<td>" + ValueList[i].InternalNotes + "</td>";
                }

                /*Data = Data + "<td>" +
                    "<div class=\"dropdown\">" +
                    "<button class=\"btn btn-primary dropdown-toggle\" type=\"button\" id=\"about-us\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">" +
                    "Search" +
                    "<span class=\"caret\"></span></button>" +
                    "<ul class=\"dropdown-menu dropdownTable\" aria-labelledby=\"about-us\">" +
                    "<li><a href=\"#\">Currency</a></li>" +
                    "<li><a href=\"#\">Sources</a></li>" +
                    "</ul>" +
                    "</div>" + "</td>";*/

                //Data = Data + "<td>";

                //if ((boolAdmin || boolWriter)) {
                //    if (ValueList[i].IsSource == false) {
                //        Data = Data +
                //            "<input type='file' id='filestyle-0' tabindex='-1' style='position: absolute; clip: rect(0px, 0px, 0px, 0px);'><span class='group-span-filestyle ' tabindex='0'><label for='filestyle-0' class='btn btn-sm btn-default '><span class='icon-span-filestyle glyphicon glyphicon-folder-open'></span> </label></span>";
                //    }
                //}

                if (ValueList[i].Sources == null) {
                    Data = Data + "<td>" + "<input id=\"SourceNameTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + linkMax + " type=\"textbox\" value=\"null\" placeholder=\"Insert " + sourceName + "*\" onkeypress=\"saveRow(event, 4, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceNameTable" + i + ")\" >" + "</td>"
                        + "<td>" + "<input id=\"SourceLinkTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + linkMax + " type=\"textbox\" value=\"null\" placeholder=\"Insert " + sourceLink + "*\" onkeypress=\"saveRow(event, 5, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceLinkTable" + i + ")\" >" + "</td>"
                        + "<td><select id=\"selectRepository" + i + "\" class=\"form-control rowFix\" onkeypress=\"saveRowCombo(event, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", selectRepository" + i + ")\"></select></td>"
                        + "<td>" + "<input id=\"DateDownloadTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=10 type=\"textbox\" value=\"null\" placeholder=\"Insert " + sourceDateDownload + "*\" onkeypress=\"saveRow(event, 6, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", DateDownloadTable" + i + ")\" >" + "</td>"
                        + "<td>" + "<input id=\"SourceUsernameTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + usernameMax + " type=\"textbox\" value=\"null\" placeholder=\"Insert " + sourceUsername + "*\" onkeypress=\"saveRow(event, 7, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceUsernameTable" + i + ")\" >" + "</td>"
                        + "<td>" + "</td>";
                } else {

                    // json to dateTime format
                    var date = null;
                    if (ValueList[i].Sources.DateDownload != null) {
                        var seconds = parseInt(ValueList[i].Sources.DateDownload.replace(/\/Date\(([0-9]+)[^+]\//i, "$1"));
                        var date = new Date(seconds);
                    }
                    var options = { year: 'numeric', month: '2-digit', day: '2-digit' };

                    Data = Data + "<td>" + "<input id=\"SourceNameTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + linkMax + " type=\"textbox\" value=\"" + ValueList[i].Sources.Name + "\" placeholder=\"Insert " + sourceName + "*\" onkeypress=\"saveRow(event, 4, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceNameTable" + i + ")\" >" + "</td>"
                        + "<td>" + "<input id=\"SourceLinkTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + linkMax + " type=\"textbox\" value=\"" + ValueList[i].Sources.Link + "\" placeholder=\"Insert " + sourceLink + "*\" onkeypress=\"saveRow(event, 5, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceLinkTable" + i + ")\" >" + "</td>"
                        + "<td><select id=\"selectRepository" + i + "\" class=\"form-control rowFix\" onkeypress=\"saveRowCombo(event, '" + ValueList[i].CountryCode + "', '" + ValueList.Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", selectRepository" + i + ")\"></select></td>"
                        + "<td>" + "<input id=\"DateDownloadTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=10 type=\"textbox\" value=\"" + (ValueList[i].Sources.DateDownload != null ? date.toLocaleDateString("en-US", options) : null) + "\" placeholder=\"Insert " + sourceDateDownload + "*\" onkeypress=\"saveRow(event, 6, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", DateDownloadTable" + i + ")\" >" + "</td>"
                        + "<td>" + "<input id=\"SourceUsernameTable" + i + "\"" + "class=\"form-control rowFix\" maxlength=" + usernameMax + " type=\"textbox\" value=\"" + ValueList[i].Sources.Username + "\" placeholder=\"Insert " + sourceUsername + "*\" onkeypress=\"saveRow(event, 7, '" + ValueList[i].CountryCode + "', '" + ValueList[i].Number + "', " + ValueList[i].Year + ", " + ValueList[i].VarLc + ", SourceUsernameTable" + i + ")\" >" + "</td>";

                    if (ValueList[i].Sources.Repository != null) {
                        var directoryName = ValueList[i].Sources.Name + "-" + ValueList[i].Sources.Date.Day + "-" + ValueList[i].Sources.Date.Month + "-" + ValueList[i].Sources.Date.Year + "-" + ValueList[i].Sources.Time.Hours + "-" + ValueList[i].Sources.Time.Minutes + "-" + ValueList[i].Sources.Time.Seconds;

                        Data = Data +
                            "<td>" + "<a target=\"_blank\" rel=\"noopener noreferrer\" href='" + serverMap + "/" + directoryName + "/" + ValueList[i].Sources.Repository + "' class='btn btn-dark btn-sm waves-effect'><span class='glyphicon glyphicon-file'></span></a>" + "</td>";
                    } else {
                        Data = Data +
                            "<td>" + "</td>";
                    }

                }

                //Data = Data + "</td>"

                Data = Data + "</tr>";

                SetData.append(Data);

                for (var t = 0; t < RepositoryNameArray.length; t++) {
                    $("#selectRepository" + i).append("<option value='" + RepositoryNameArray[t] + "'>" + RepositoryNameArray[t] + "</option>");
                }

                if (ValueList[i].Sources == null)
                    $("#selectRepository" + i + " option[value='null']").attr('selected', 'selected');
                else
                    $("#selectRepository" + i + " option[value='" + ValueList[i].Sources.Repository + "']").attr('selected', 'selected');

                // aggiungo caratteri campo
                $('input#PublicNotesTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#InternalNotesTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#SourceNameTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#SourceLinkTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#selectRepository' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#DateDownloadTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });

                $('input#SourceUsernameTable' + i).maxlength({
                    alwaysShow: true,
                    placement: 'top-left'
                });
            }

            $("#LoadingStatus").html(" ");
            var page = $("#showEntry").val();
            $('#SetValueList').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: parseInt(page) });
        }
    </script>

    @Scripts.Render("~/Scripts/value")
}